body{
background-color: lightcoral;
}

.encabezado{
    background-color: rgba(192, 155, 176, 0.644);
    padding: 1px 10px;
    border: rgba(226, 43, 180, 0.801) 5px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
    
h1{
    color: red;
    font-size: 60px;
    text-align: center;
    font-kerning: Times;
}

.caja1{
    background-color: rgba(245, 228, 0, 0.644);
    float: center;
    padding: 2px;
}

.fondos{
    background-color: rgba(219, 16, 131, 0.644);
    float: center;
    padding: 5% 400px;
}

.añadir_mensaje{
    color: blue;
    padding: 1px 10px;
    float: center;
    font-size: 40px;
}

#ingresando_text{
    padding: 1cm 1cm;
    font-size: 1cm;
    font-family: times;
    float: center;
}

#posicion{
    padding: 8px;
    margin-bottom: 8px;
    background-color: rgba(213, 163, 241, 0.692);
}

#Cifrando{
    display: block;
    font-family: sans-serif;
    padding: 6px 15px;
    font-size: 14px
}

#Decifrando{
    display: block;
    font-family: sans-serif;
    padding: 6px;
    font-size: 14px
}

#mostrando_text{
    padding: 2px 100px ;
    font-size: 1cm;
    font-family: times;
    background-color: rgba(213, 163, 241, 0.692);
}

